<style>
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
@import url('https://fonts.googleapis.com/css?family=Jua');
</style>
*{
	font-family: 'Nanum Gothic';
}
h5{
	font-family: 'Noto Sans';
	font-size: 15px;
}
h4{
	font-family: 'Noto Sans';
}
h3{
	font-family: 'Jua', sans-serif;
}
h2{
	font-family: 'Jua', sans-serif;
}
h1{
	font-family: 'Jua', sans-serif;
}
.btn-file {
	position: relative;
	overflow: hidden;	
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-height: 100%;
	min-width: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}